<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Appreciating classic Windows wallpaper tiles.">
    <meta property="og:site_name" content="Windows Wallaper Tiles">
    <meta property="og:locale" content="en-us">
    <meta property="og:url" content="https://tiles.jesse.cafe">
    <meta property="og:title" content="Windows Wallpaper Tiles">
    <meta property="og:description"
          content="Appreciating classic Windows wallpaper tiles.">
    <title>Windows Tiled Backgrounds</title>
    <link rel="stylesheet" href="main.css?v={{mainHash}}">
    <link rel="stylesheet" href="backgrounds.css?v={{backgroundsHash}}">
    <link rel="icon" href="/favicon.ico?v=1" sizes="48x48">
    <link rel="icon" href="/icon.svg?v=1" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png?v=1" />
    <link rel="manifest" href="/site.webmanifest?v=1" />
    <script src="script.js" defer></script>
    <link href="https://tiles.jesse.cafe/" rel="canonical">
  </head>
  <body>
    <div id="controls">
      <div id="toolbar">
        <span>Windows Wallpaper Tiles</span>
        <a href="" target="_blank">
          <button>
            <span>?</span>
          </button>
        </a>
      </div>
      <div id="inner-wrapper">
        <fieldset>
          <legend>Choose a Wallpaper</legend>
          <select id="backgroundSelect" size="5">
            <option value="none" selected>(None)</option>
            {{#each files }}
              <optgroup label="{{name}}">
                {{#each contents }}
                  <option value="{{value}}">{{name}}</option>
                {{/each}}
              </optgroup>
            {{/each}}
          </select>
          <div id="buttons">
            <button id="prev">
              <img src="./left-caret.svg" width="18" height="24" alt="Left arrow.">
              <span>Previous</span>
            </button>
            <button id="next">
              <span>Next</span>
              <img src="./right-caret.svg" width="18" height="24" alt="Right arrow.">
            </button>
          </div>
        </fieldset>
      </div>
    </div>
  </body>
</html>
